<% content_for :title do %><%= @page_title %><% end %>

<main id="content" role="main" class="group category-page">
  <header class="page-header group">
    <div class="full-width">
      <h1><%= @category.title %></h1>
    </div>
  </header>
  <div class="browse-container full-width group">


  <!-- Business and self-employed static prototype -->
  <% if @category.title == "Businesses and self-employed" %>
  
  




<ul>
  <li><a href="#a-z">Business A&ndash;Z</a></li>
  <li><a href="https://www.gov.uk/government/topics/business-and-enterprise">Departments and Policy</a></li>
</ul>

<nav>
<h1 class="visuallyhidden">Most popular</h1>
<ul>
  <li><a href="https://www.gov.uk/trade-tariff">Trade tariff</a></li>
  <li><a href="https://www.gov.uk/make-court-claim-for-money">Make a court claim for money</a></li>
  <li><a href="https://www.gov.uk/write-business-plan">Write a business plan</a></li>
  <li><a href="https://www.gov.uk/set-up-sole-trader">Set up as a sole trader</a></li>
  <li><a href="https://www.gov.uk/business-finance-support-finder">Business Finance and Support Finder</a></li>
  <li><a href="https://www.gov.uk/licence-finder">Licence Finder</a></li>
</ul>
</nav>

<nav>
<h1><a href="https://www.gov.uk/browse/business/setting-up">Starting a new business</a></h1>
<h2><a href="https://www.gov.uk/starting-up-a-business">Start your own business <span>Guide</span></a></h2>
<ul>
  <li><a href="https://www.gov.uk/starting-up-a-business/start-with-an-idea">Start with an idea</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/get-funding">Get funding</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/research-your-market">Research your market</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/develop-and-plan">Develop and plan</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/find-partners-and-suppliers">Find partners and suppliers</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/set-up-your-business">Set up your business</a></li>
</ul>
<h2><a href="https://www.gov.uk/starting-up-a-business">Choose a legal structure for your business <span>Guide</span></a></h2>
<ul>
  <li><a href="https://www.gov.uk/starting-up-a-business/overview">Overview</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/sole-trader">Sole trader</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/limited-company">Limited company</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/ordinary-business-partnership">&lsquo;Ordinary&rsquo; business partnership</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/limited-partnership-and-limited-liability-partnership">Limited partnership and limited liability partnership</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/unincorporated-association">Unincorporated association</a></li>
</ul>
<p><a href="https://www.gov.uk/browse/business/setting-up">See all information</a></p>
<h2><a href="#">Growing an existing business</a></h2>
<h2><a href="https://www.gov.uk/growing-your-business">Growing your business <span>Guide</span></a></h2>
<ul>
  <li><a href="https://www.gov.uk/growing-your-business/plan-for-growth">Plan for growth</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/get-extra-funding">Get extra funding</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/increase-sales-to-existing-customers">Increase sales to existing customers</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/attract-new-customers">Attract new customers</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/improve-your-products-and-services">Improve your products and services</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/develop-new-products-and-services">Develop new products and services</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/hire-and-train-staff">Hire and train staff</a></li>
  <li><a href="https://www.gov.uk/growing-your-business/work-with-a-mentor">Work with a mentor</a></li>
</ul>
<h2><a href="https://www.gov.uk/starting-to-export">Starting to export <span>Guide</span></a></h2>
<ul>
  <li><a href="https://www.gov.uk/starting-up-a-business/overview">Overview</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/sending-goods-to-eu-countries">Sending goods to eu countries</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/exporting-to-noneu-countries">Exporting to non-EU countries</a></li>
  <li><a href="https://www.gov.uk/starting-up-a-business/exporting-via-other-eu-countries">Exporting via other EU countries</a></li>
</ul>
<p><a href="#">See all information</a></p>
</nav>

<h1><a href="https://www.gov.uk/browse/business/limited-company">Running an existing business</a></h1>
<ul>
  <li>
    <h2><a href="https://www.gov.uk/file-an-annual-return-with-companies-house">File an annual return with Companies House <span>Service</span></a></h2>

    <p>Filing online costs &pound;13. You will need a debit/credit card and a Companies House password and authentication code (<a href="https://ewf.companieshouse.gov.uk/runpage?page=webfilingRegister&amp;signUpPage.lang=en">register</a>)</p>

    <p id="get-started" class="get-started group">
      <a href="https://ewf.companieshouse.gov.uk/" rel="external" data-transaction-slug="file-an-annual-return-with-companies-house" class="button">Start now <span class="indicator"></span></a>
      <span class="destination"> on the Companies House website</span>
    </p>
  </li>

  <li>
    <h2><a href="https://www.gov.uk/file-your-company-accounts-and-tax-return">File your company accounts and tax return <span>Service</span></a></h2>

    <p>You will need your company accounts, your Corporation Tax calculations, a <a href="https://www.gov.uk/government-gateway" title="Government Gateway">Government Gateway</a> user ID and password, a debit/credit card and a Companies House password and authentication code (<a href="https://ewf.companieshouse.gov.uk/runpage?page=webfilingRegister&amp;signUpPage.lang=en">register</a>)</p>

    <p id="get-started" class="get-started group">
      <a href="http://online.hmrc.gov.uk/" rel="external" data-transaction-slug="file-your-company-accounts-and-tax-return" class="button" target="_blank">Start now <span class="indicator"></span></a>
      <span class="destination"> on the HM Revenue &amp; Customs website</span>
    </p>
  </li>
</ul>

<p><a href="https://www.gov.uk/browse/business/limited-company">See all information</a></p>
<h2><a href="https://www.gov.uk/browse/business/finance-support">Financing your business</a></h2>
<ul>
  <li>
    <h2><a href="https://www.gov.uk/business-finance-support-finder">Business finance and support finder <span>Quick answer</span></a></h2>
    <a href="/business-finance-support-finder/sectors" class="big button">Start now <span class="indicator"></span></a>
  </li>

  <li>
    <h2><a href="https://www.gov.uk/business-finance-explained">Business finance explained <span>Guide</span></a></h2>
    <ul>
      <li><a href="https://www.gov.uk/starting-up-a-business/investment-finance">Investment finance</a></li>
      <li><a href="https://www.gov.uk/starting-up-a-business/loans">Loans</a></li>
      <li><a href="https://www.gov.uk/starting-up-a-business/grants">Grants</a></li>
      <li><a href="https://www.gov.uk/starting-up-a-business/overdrafts">Overdrafts</a></li>
      <li><a href="https://www.gov.uk/starting-up-a-business/invoice-financing">Invoice financing</a></li>
      <li><a href="https://www.gov.uk/starting-up-a-business/leasing-and-asset-finance">Leasing and asset finance</a></li>
    </ul>
  </li>
</ul>

<p><a href="https://www.gov.uk/browse/business/finance-support">See all information</a></p>



<nav id="a-z">
<h1>Business A&ndash;Z</h1>
<h2><span class="visuallyhidden">Categories starting with </span>A</h2>
<ul>
  <li><a href="#">Air conditioning</a></li>
  <li><a href="#">Asbestos</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>B</h2>
<ul>
  <li><a href="#">Bankruptcy and insolvency</a></li>
  <li><a href="#">Building maintenance</a></li>
  <li><a href="#">Business Link Helpline</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>C</h2>
<ul>
  <li><a href="#">CCTV</a></li>
  <li><a href="#">Charities</a></li>
  <li><a href="#">Charity collection licences</a></li>
  <li><a href="#">Company cars</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>D</h2>
<ul>
  <li><a href="#">Data protection</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>E</h2>
<ul>
  <li><a href="#">Employee rights</a></li>
  <li><a href="#">Employing people</a></li>
  <li><a href="#">Environmental impact</a></li>
  <li><a href="#">Expenses and benefits</a></li>
  <li><a href="#">Exporting</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>F</h2>
<ul>
  <li><a href="#">Financing your business</a></li>
  <li><a href="#">Food, catering and retail</a></li>
  <li><a href="#">Fuel relief</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>H</h2>
<ul>
  <li><a href="#">Health and safety</a></li>
  <li><a href="#">Heating</a></li>
  <li><a href="#">Housing licences</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>I</h2>
<ul>
  <li><a href="#">Importing</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>L</h2>
<ul>
  <li><a href="#">Labelling of products and services</a></li>
  <li><a href="#">Licences</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>M</h2>
<ul>
  <li><a href="#">Manufacturing</a></li>
  <li><a href="#">Music and performing licences</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>P</h2>
<ul>
  <li><a href="#">Planning permission</a></li>
  <li><a href="#">Planning your business</a></li>
  <li><a href="#">Premises for businesses</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>R</h2>
<ul>
  <li><a href="#">Rates for businesses</a></li>
  <li><a href="#">Recycling, rubbish and waste</a></li>
  <li><a href="#">Renewable energy</a></li>
  <li><a href="#">Renting and leases</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>S</h2>
<ul>
  <li><a href="#">Sales of goods and services</a></li>
  <li><a href="#">Scientific research and development</a></li>
  <li><a href="#">Self-assessment for businesses</a></li>
  <li><a href="#">Selling and closing down a business</a></li>
  <li><a href="#">Starting a business</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>T</h2>
<ul>
  <li><a href="#">Tax for businesses</a></li>
  <li><a href="#">Temporary event licences</a></li>
  <li><a href="#">Trademarks, copyright and intellectual property</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>V</h2>
<ul>
  <li><a href="#">VAT</a></li>
</ul>
<h2><span class="visuallyhidden">Categories starting with </span>W</h2>
<ul>
  <li><a href="#">Working, jobs and pensions</a></li>
</ul>
</nav>

<nav>
<h1>Departments and policy</h1>
<p><a href="https://www.gov.uk/government/topics/business-and-enterprise">Business and enterprise</a></p>

<h2>Policies</h2>
<ul class="policies">
  <li><a href="https://www.gov.uk/government/policies/modernising-company-law--2">Modernising company law</a></li>
  <li><a href="https://www.gov.uk/government/policies/controlling-defence-security-and-dual-use-strategic-exports--2">Controlling defence, security and dual-use strategic exports</a></li>
  <li><a href="https://www.gov.uk/government/policies/improving-the-health-and-safety-system">Improving the health and safety system</a></li>
</ul>
<p><a href="https://www.gov.uk/government/topics/business-and-enterprise#policies">See all policies</a></p>

<h2>Publications</h2>
<ul class="publications">
  <li><a href="https://www.gov.uk/government/publications/cameroon-business-guides-part-1">Cameroon Business Guides</a></li>
  <li><a href="https://www.gov.uk/government/publications/export-licences-for-equipment-with-military-list-ratings-companies-who-applied-in-2010">Export licences for equipment with military list ratings: companies who applied in 2010</a></li>
  <li><a href="https://www.gov.uk/government/publications/direct-lending-scheme">Direct lending scheme</a></li>
</ul>
<p><a href="https://www.gov.uk/government/publications?topics%5B%5D=business-and-enterprise">See all publications</a></p>

<h2>Announcements</h2>
<ul class="announcements">
  <li><a href="https://www.gov.uk/government/world-location-news/british-high-commission-banjul-hosts-forum-on-enterprise-development">British High Commission Banjul hosts forum on enterprise development</a></li>
  <li><a href="https://www.gov.uk/government/world-location-news/mexican-good-news-for-uk-cheddar-cheese-producers">Mexican Good News for UK Cheddar Cheese Producers</a></li>
  <li><a href="https://www.gov.uk/government/world-location-news/uk-embassy-official-visit-to-ekaterinburg">UK Embassy official visit to Ekaterinburg</a></li>
</ul>
<p><a href="https://www.gov.uk/government/announcements?topics%5B%5D=business-and-enterprise">See all announcements</a></p>
</nav>




  
  <% else %>
  <!-- All other sections -->
  
    <div class="category-description">
      <p><%= @category.details.description %></p>
    </div>

    <ul class="sub-categories group">
      <% @sub_categories.each do |category|%>
      <li>
        <h2><a href="<%= category.content_with_tag.web_url %>"><%= category.title %></a></h2>
        <p><%= category.details.description %></p>
      </li>
      <% end %>
    </ul>

  <!-- All other sections ends -->
  <% end %>
  

  </div>
</main>

<% content_for :body_classes do %>full-width<% end %>
<% content_for :extra_headers do %>
<link rel="alternate" type="application/json" href="/api/tags.json?type=section&amp;parent_id=<%= params[:section] %>">
<% end %>
